<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="custom-title">elizabeth braae <small>rails and js developer</small></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8 col-md-7">
              <p class="lead">
                I am a junior web developer from Cape Town, South Africa.
              </p>
              <p class="profile visible-sm visible-xs">
                <%= image_tag('profile.png') %>
              </p>
              <p>
                I have experience in Ruby on Rails and JavaScript, with an interest in node.js and Ember. I am keen to expand my skills and to learn new technologies.
              </p>
              <p>
                This is my portfolio website.
              </p>
              <p>
                My r&eacute;sum&eacute; (.pdf) can be downloaded [here].
                <!--You can see examples of my industry work <%= link_to 'here', '/#industry_projects', :'data-toggle'=> 'tab', role:'tab' %> and of my personal work <%= link_to 'here', '/#personal_projects', :'data-toggle'=> 'tab', role:'tab' %>  and <a href="https://github.com/elsapet">on my github profile</a>.-->
              </p>
            </div>
            <div class="profile col-lg-4 col-md-5 hidden-sm hidden-xs">
              <%= image_tag('profile.png') %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>
                <b>Where do I work?</b><br/><br/>
                Currently I work at a travel start-up called <a href="http://www.big5boutique.com/">Big5 Boutique</a>, which provides online booking for safari holidays in Africa. Big5 Boutique is a Rails-based web application, with some Ember.js in the front. I work mostly on the Rails side.
              </p>
              <p>
                <b>Which is my favourite language?</b><br/><br/>
                I don't have a favourite language or platform, for two reasons: (i.) I believe the task itself should determine the tool and (ii.) I like to explore and play around with new technologies. That said, Ruby comes very close!
              </p>
              <p>
                <b>What is my background?</b><br/><br/>
                My background is in academic philosophy. I fell into programming during my MA and haven't looked back. I love the way that programming combines all of my favourite things: logical reasoning, analytical problem-solving, language, and continuous learning.
              </p>
              <p>
                <b>What is my passion?</b><br/><br/>
                Coding! I want to share my passion for code with others, which is why I have tutored at <%= link_to 'Umonya', 'http://www.umonya.org/' %> and <%= link_to 'Railsbridge', 'http://railsbridgecapetown.org/' %>, both of which seek to bring newcomers into programming.
                <br>
                When I'm not programming, I enjoy playing clarinet and saxophone, reading, and studying language. I also have an amateur interest in mathematics and formal logic.
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>